{% extends 'base.html.twig' %}

{% block title %}Hello StatistiqueController!{% endblock %}

{% block body %}






    <div class="fr-container fr-p-8w">

        <div class="fr-grid-row fr-grid-row--gutters">




            <div class="fr-col-md-6 fr-col-12">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            {{ render_chart(chartTerrain) }}

                        </div>
                    </div>

                </div>
            </div>


            <div class="fr-col-md-6 fr-col-12">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            {{ render_chart(chart) }}
                        </div>
                    </div>


                </div>
            </div>






        </div>
    </div>


{% endblock %}