{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}




    <div class="fr-container fr-mb-8w">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutter">
        <div class="fr-col fr-col-lg-8">



        <h1> Reservation du terrain </h1>
        {{ form_start(ReservationType) }}
            {{ form_end(ReservationType) }}
    </div>
    </div>
    </div>

{% endblock %}
