{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="fr-alert fr-alert--error">
            <span><strong class="font-semibold">Error:</strong> {{ message }}</span>
        </div>
    {% endfor %}


    <div class="fr-container fr-mt-4w">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutter">
        <div class="fr-col fr-col-lg-8">



        <h1> Réservation du terrain </h1>
        {{ form_start(ReservationType) }}
            {{ form_end(ReservationType) }}
    </div>
    </div>
    </div>

{% endblock %}
